<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ADO.Net_Lesson1.Properties.Settings.TrainingConnectionString"
            connectionString="Data Source=4-8;Initial Catalog=Training;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ADO.Net_Lesson1.Properties.Settings.libraryConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\library.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>